#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.home-page h1{
font-size: 30px;
}
.game-completed {
background-color: rgba(40, 44, 31, 0.112);
position: absolute;
inset: 0;
display: grid;
place-items: center;
}
.container{
  display: grid;
grid-template-columns:repeat(auto-fit, minmax(190px, 1fr));
grid-auto-rows: 150px;
gap: 20px;
justify-content: center;


}

.flip-card {
  background-color: transparent;
 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:rgba(102, 113, 141, 0.6);
  color: black;
  border-radius: 4px;
}

.flip-card-back {
  background-color:rgba(21, 24, 27, alpha);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  display: grid;
  place-items:center;
  font-size: 50px;
  border-radius: 4px;
}

